.table-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border: 2px solid #ff8200;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0px;
    color: #212529;
}

thead {
    background-color: #212529;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
}

th, td {
    padding: 14px 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

thead th:first-child {
    border-top-left-radius: 6px;
}

thead th:last-child {
    border-top-right-radius: 6px;
}

tbody tr:last-child th, td {
    border: none;
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.highlight {
    background-color: #ffdcdc !important;
    color: #f76f6f !important;
    font-weight: 900;
}

tbody tr:hover {
    background-color: #ebebeb !important;
}

tbody tr.highlight:hover {
    background-color: #ffd0d0 !important;
}

.btn {
    background-color: #ffb500;
}

@media (max-width: 768px) {
    .table-container {
        font-size: 15px;
    }

    th, td {
        padding: 12px 15px;
    }
}

@media (max-width: 480px) {
    .table-container {
        font-size: 14px;
    }

    th, td {
        padding: 10px 12px;
    }
}
